{
	"arrowParens": "always",
	"bracketSameLine": true,
	"bracketSpacing": false,
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "css",
	"printWidth": 200,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"singleQuote": true,
	"trailingComma": "none",
	"useTabs": true,
	"tabWidth": 2,
	"semi": false,
	"vueIndentScriptAndStyle": true,
	"singleAttributePerLine": false
}
