// theme
$theme: var(--theme);
$header-theme: var(--header-theme);
$menu-theme: var(--menu-theme);
$sider-theme: var(--sider-theme);
$dark-theme: dark;
$light-theme: light;

// color
$dark-color: #151515;
$light-color: #fff;
$default-hover-color: #f6f6f6;
$white: #fff;
$primary-color: #0960bd;
$success-color: #55d187;
$error-color: #ed6f6f;
$warning-color: #efbd47;
$text-color: #c9d1d9;
