:root {
	// theme
	--theme: $dark-theme; // 系统默认主题
	--header-theme: $light-theme; // header默认主题
	--menu-theme: $dark-theme; // 菜单默认主题
	--sider-theme: $dark-theme; // 侧边栏默认主题
	// header
	--header-bg-color: $white; // header theme默认是白色的，可以根据需要修改换肤色
	--header-bg-hover-color: $default-hover-color; // header theme默认是灰白色的，可以根据需要修改
}

$namespace: bingo;
