// theme
$default-theme: default;
$dark-theme: dark;
$light-theme: light;

// logo
$logo-width: 32px;

// menu
$menu-height: 210px;

// header
$header-height: 48px;

// dark
$dark-color: #151515;

// light
$light-color: #fff;

// normal color
// default
$default-hover-color: #f6f6f6;
$white: #fff;
$primary-color: #0960bd;
$success-color: #55d187;
$error-color: #ed6f6f;
$warning-color: #efbd47;
$text-color: #c9d1d9;
