$prefix-cls: '#{$namespace}-layout-header-right';

.#{$prefix-cls} {
	display: flex;
	min-width: 180px;
	justify-content: right;
	align-items: center;

	&__item {
		display: flex !important;
		height: $header-height;
		padding: 0 5px;
		font-size: 1.2em;
		cursor: pointer;
		align-items: center;
	}

	&--light {
		.#{$prefix-cls}__item {
			&:hover {
				background-color: $header-light-bg-hover-color;
			}
		}
	}

	&--dark {
		.#{$prefix-cls}__item {
			&:hover {
				background-color: $header-dark-bg-hover-color;
			}
		}
	}
}
