$prefix-cls: '#{$namespace}-modal-close';

// TODO: 等待日后完善样式
.#{$prefix-cls} {
	display: flex;
	height: 95%;
	align-items: center;

	> span {
		margin-left: 10px;
		font-size: 16px;
	}

	// &--can-full {
	// 	> span {
	// 		margin-left: 8px;
	// 	}
	// }

	// &:not(&--can-full) {
	// 	> span:nth-child(1) {
	// 		&:hover {
	// 			font-weight: 700;
	// 		}
	// 	}
	// }

	// & span:nth-child(1) {
	// 	display: inline-block;
	// 	padding: 10px;

	// 	&:hover {
	// 		color: $primary-color;
	// 	}
	// }

	// & span:last-child {
	// 	&:hover {
	// 		color: $error-color;
	// 	}
	// }
}
