$prefix-cls: '#{$namespace}-svg-icon';

// TODO: 等待日后完善样式
.#{$prefix-cls} {
	display: inline-block;
	overflow: hidden;
	vertical-align: -0.15em;
	fill: currentColor;

	.svg-icon-spin {
		animation: loadingCircle 1s infinite linear;
	}
}
